{% set element = element ?? null %}
{% set links = links ?? [] %}
{% set hidden = hidden ?? false %}

{% if links and element %}
    {% if links|length == 1 %}
        <a href="{{ links[0].url }}"
           class="childme-button{{ hidden ? ' hidden' }}"
           data-icon="plus"
           aria-label="{{ 'New child'|t('app') }}"
           title="{{ 'New child'|t('app') }}"
        ></a>
    {% else %}
        {# Create a disclosure menu, but neglect to add the [data-disclosure-trigger] attribute to, essentially, lazy-load the menu; otherwise Craft would create a 100 of these on pageload #}
        <button type="button"
                class="childme-button btn{{ hidden ? ' hidden' }}"
                data-icon="plus"
                aria-controls="childme-menu-{{ element.id }}"
                aria-expanded="false"
                aria-label="{{ 'New child'|t('app') }}"
                title="{{ 'New child'|t('app') }}"
        ></button>
        <div id="childme-menu-{{ element.id }}" class="childme-menu menu menu--disclosure">
            <ul>
                {% for link in links %}
                    <li>
                        {% tag 'a' with {
                            href: link.url,
                            class: 'flex',
                            style: link.color|default ? {
                                '--custom-bg-color': link.color.cssVar(50)|default(false),
                                '--custom-text-color': link.color.cssVar(900)|default(false),
                                '--custom-sel-bg-color': link.color.cssVar(100)|default(false)
                            } : false
                        } %}
                            {% if link.icon|default %}
                                {{ tag('span', {
                                    html: link.icon,
                                    class: [
                                        'cp-icon small',
                                        link.color.value|default
                                    ]
                                }) }}
                            {% endif %}
                            {{ link.label }}
                        {% endtag %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% css %}
        .childme-button {
            color: var(--link-color);
            background-color: transparent;
            height: auto;
            padding: 6px;
        }
        .childme-button::before {
            margin: 0 !important;
        }
        .childme-menu li a {
            background-color: var(--custom-bg-color) !important;
            color: var(--custom-text-color, var(--link-color)) !important;
        }
        .childme-menu li a:hover {
            background-color: var(--custom-sel-bg-color, var(--custom-bg-color)) !important;
        }
        .modal .elements .tableview th[data-attribute="_childme_addChild"],
        .modal .elements .tableview td[data-attr="_childme_addChild"] {
            display: none !important;
        }
        th[data-attribute="_childme_addChild"] {
            color: transparent;
            font-size: 0;
            -webkit-text-size-adjust: none;
        }
    {% endcss %}
{% endif %}
